page-login {
    .rounded {
        width: 100%;
        
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }
    .login{
        background-color: aquamarine;
    }
}
.imgLogin{
    height:60vh !important;
    width: auto !important;
}
