.grilla {
    background: red;
    
    
}
.fila{
    height: 100%;
}
h1,h2 {
    color: white
}
.vot1{
    background: blue !important;
    
}
.vot2{
    background: green !important;
    
}
.footer1 {
    background-color: blue;
}
.footer2 {
    background-color: green;
}
.imagen {
    max-height: 400px;
}
/*
ion-row{
    height: 98%
}

ion-card{
    height: 98%
}
*/